/* #d2670c */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
    font-weight: 500;
}

html,body{
    width:100%;
    height:100%;
}

html{
    scroll-behavior: smooth;
    font-size:1rem;
    color: #1a1110;
}

body{
    font-family: "Viga", "Raleway", "Sniglet";
}

h1{
    font-family: "Sniglet";
}

p{
    font-family: "Raleway";
}

h2,h3,nav{
    font-family:"Viga";
}

/* logo */
.logo{
    position:relative;
    top:-0.7rem;
    font-size: 2rem;
}

.logo span i {
    padding-right:.7rem;
}

.logo:hover{
    color: #fffacd;
    font-size: 2.2rem;
    transition: .5s ease-in-out;
}


.bg-img {
    background-image:url('images/plates_of_food_big.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    min-height:90vh; 
    filter: brightness(70%);
}

.header-color {
    /* background-color: #fd8e2c; */
    background-color: #7e3c067a;
    /* background-color: #190b01; */
    width: 100%;
    height:12vh;
}

li, a{
    cursor: pointer;
    /* color:#edf0f1 */
    color:#fff;
}

header{
    /* position:fixed; */
    position:absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */ /*places items to the center*/
    padding:30px 10%;
    /* background: #d2670c; */
}

.nav_links li{
    display: inline-block;
    padding:0 1em;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#d2670c;
    background-color: white;
    padding:.5em;
    border-radius: 3em;
}

.section-text{
    position:absolute;
    top:14em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    left: 40%;
    background-color: #7e3c067a;
    padding: 2em;
    color:#fff;
    border-radius: 1rem;
}

.section-heading{
    padding-bottom:2rem;
}

/* simple art thing */
/* .icon-down, i{
    position:relative;
    margin: 0 auto;
} */

.icon-down::after{
    content:"";
    width:50px;
    height:50px;
    position:absolute;
    left: 50%;
    top:87vh;
    background:white;
    border-radius: 50%;
    /* display: flex;
    justify-content:center;
    align-items: center; */
}

.icon-down img{
    width:1rem;
    height:1rem;
    position:absolute;
    left: 51.2%;
    bottom:8%;
    z-index: 1;
    filter: invert(10%) sepia(33%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.icon-down img:hover{
    filter: invert(30%) sepia(33%) saturate(12%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

/* 
====
main content
====
*/
main{
    margin: 3rem;
    display:flex;
    /* max-height: 10vh; */
    /* height: 30vh; */
}

.left-text{
    margin-right: 3rem;
    margin-left: 3rem;
    width: 100%;
}

.title-heading h1,h3{
    text-align: center;
}

.title-heading h1{
    color: #d3581c;
}

.title-heading h3{
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.infor{
    line-height: 1.7rem;
}

.first-p{
    margin-bottom: 1rem;
}

.left-link{
    margin-top: 1rem;
}

.left-link a.menu-link{
    color: #d3581c;
    text-transform: uppercase;
    font-style: italic;
}

/* image */
.right-image {
    width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

/* 
====
Mid section
====
*/
.mid-section{
    max-height:70vh;
    
}

.mid-section-img{
    position: relative;
    /* width: 100vw;
    height:100vh; */
    display:flex;
    justify-content:center;
    align-items: center;
}

.mid-section-img::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url(/images/rice_fish_plate_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:70vh;
    filter:brightness(50%);
}

/* .mid-section-img{
    background-image: url(/images/rice_fish_plate_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:79vh;
    filter:brightness(50%);
} */

.mid-section-title{
    text-align: center;
    color:#fff;
    position:relative;
    top:5rem;
}

.mid-section-head{
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: #fff;
}

.mid-section-p{
    text-transform: capitalize;
    font-style: italic;
}

.mid-section-time{
    position: absolute;
    top:15rem;
    left:10rem;
    right:10rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.mid-section-pa{
    color: #d3581c;
    font-size:1.5rem;
    font-style: italic;
}

.mid-section-head-time{
    color:#fff;
    font-weight: 500;
}

/* 
=====
Second Main section
=====
*/
.second-main{
    margin-top: 70vh;
    margin-bottom: 3rem;
}

/* 
=========
MAPS
========    
*/
/* section.maps{
    width:100%;
    height:100%;
} */

.maps{
    margin-top: 5rem;
}

/* 
=====
Third Section with image
=====
*/
.section-img{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section-img::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    width:100%;
    height:100%;
    background-image: url(/images/plates_of_food_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 25vh;
    filter: brightness(50%);
    max-width: 100%;
}

.text-info{
    z-index: 10000;
    margin-top: 3rem;
    color:#fff;
    font-weight: 400;
}

.third-main-h1{
    text-transform: uppercase;
}

.third-main-par{
    text-align: center;
}


/* 
========
Footer
========
*/
footer{
    display:flex;
    justify-content:space-between;
    padding: 1.5rem;
    background-color: #d3591cfd;
    color: #Fdfff5;
}

.footer1{
    line-height: 2rem;
}

.social-icons span{ 
    border: 1px solid #Fdfcfa;
    line-height: 3rem;
    padding: .5rem;
    border-radius: 50%;
}

.social-icons span:hover{
    color:  #Fdfcfa;
    transition: 1s ease-in-out;
    border: 1px solid #1a1110; 
    background-color: #1a1110 ;
}

.designed-link{
    font-weight: 700;
}

.footer2, .footer3{
    margin-top:-1.7rem;
}

.footer-h3{
    margin-left: 0;
    display: block !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.info{
    margin-bottom: 1rem;
}

.p-info{
    line-height: 1.5rem;
}

/* .infor-sub{

} */

.sub-input{
    background-color: transparent ;
}















