/* #d2670c */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
    font-weight: 500;
    /* font-size:2em; */

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Viga", "Raleway", "Sniglet";
}

h1{
    font-family: "Sniglet";
}

p{
    font-family: "Raleway";
}

h2,h3,nav{
    font-family:"Viga";
}


.bg-img {
    background-image:url('images/plates_of_food_big.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    min-height:90vh; 
    filter: brightness(70%);
}

.header-color {
    /* background-color: #fd8e2c; */
    background-color: #7e3c067a;
    /* background-color: #190b01; */
    width: 100%;
    height:12vh;
}

li, a{
    cursor: pointer;
    /* color:#edf0f1 */
    color:#fff;
}

header{
    /* position:fixed; */
    position:absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */ /*places items to the center*/
    padding:30px 10%;
    /* background: #d2670c; */
}

.nav_links li{
    display: inline-block;
    padding:0 1em;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#d2670c;
    background-color: white;
    padding:.5em;
    border-radius: 3em;
}

.section-text{
    position:absolute;
    top:14em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    left: 40%;
    background-color: #7e3c067a;
    padding: 2em;
    color:#fff;
    border-radius: 1em;
}

.section-heading{
    padding-bottom:2em;
}

/* simple art thing */
/* .icon-down, i{
    position:relative;
    margin: 0 auto;
} */

.icon-down::after{
    content:"";
    width:50px;
    height:50px;
    position:absolute;
    left: 50%;
    top:87vh;
    background:white;
    border-radius: 50%;
    /* display: flex;
    justify-content:center;
    align-items: center; */
}

.icon-down img{
    width:1em;
    height:1em;
    position:absolute;
    left: 51.2%;
    bottom:7%;
    z-index: 1;
    filter: invert(10%) sepia(33%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.icon-down img:hover{
    filter: invert(30%) sepia(33%) saturate(12%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

/* 
====
main content
====
*/
main{
    margin: 3em;
    display:flex;
    /* max-height: 10vh; */
    /* height: 30vh; */
}

.left-text{
    margin-right: 3em;
    margin-left: 3em;
    width: 100%;
}

.title-heading h1,h3{
    text-align: center;
}

.title-heading h1{
    color: #d3581c;
}

.title-heading h3{
    text-transform: uppercase;
    margin-bottom: 1em;
}

.infor{
    line-height: 1.7em;
}

.first-p{
    margin-bottom: 1em;
}

.left-link{
    margin-top: 1em;
}

.left-link a.menu-link{
    color: #d3581c;
    text-transform: uppercase;
    font-style: italic;
}

/* image */
.right-image {
    width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

/* 
====
Mid section
====
*/
.mid-section{
    max-height:70vh;
    
}

.mid-section-img{
    position: relative;
    /* width: 100vw;
    height:100vh; */
    display:flex;
    justify-content:center;
    align-items: center;
}

.mid-section-img::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url(/images/rice_fish_plate_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:79vh;
    filter:brightness(50%);
}

/* .mid-section-img{
    background-image: url(/images/rice_fish_plate_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:79vh;
    filter:brightness(50%);
} */

.mid-section-title{
    text-align: center;
    color:#fff;
    position:relative;
    top:3em;
}

.mid-section-head{
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #d3581c;
}

.mid-section-p{
    text-transform: capitalize;
    font-style: italic;
}






