/* #d2670c */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
    font-weight: 500;
    /* font-size:2em; */

}

body{
    font-family: "Oswald", "Raleway";
}

.bg-img {
    background-image:url('images/plates_of_food_big.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    min-height:100vh; 
}

.header-color {
    /* background-color: #fd8e2c; */
    background-color: #7e3c06bd;
    /* background-color: #190b01; */
    width: 100%;
    height:12vh;
}

li, a{
    cursor: pointer;
    /* color:#edf0f1 */
    color:#fff;
}

header{
    /* position:fixed; */
    position:absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */ /*places items to the center*/
    padding:30px 10%;
    /* background: #d2670c; */
}

.nav_links li{
    display: inline-block;
    padding:0 1em;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#d2670c;
    background-color: white;
    padding:.5em;
    border-radius: 2em;
}





















